@model ModelTask.Models.Product
@{
    ViewData["Title"] = "Update New Product";
}

<h2>Update New Product</h2>

<form asp-action="Update" asp-controller="Product" method="post">

    <div>
        <label>Name:</label>
        <input type="text" asp-for="Name" required />
    </div>
    <div>
        <label>Price:</label>
        <input type="text" asp-for="Price" required />
    </div>
    <div>
        <label>Description:</label>
        <input type="text" asp-for="Description" required />
    </div>
    <div>
        <label>Image:</label>
        <input type="url" asp-for="Image" required />
    </div>
    <button type="submit">Update Product</button>
</form>
