@model IEnumerable<e_commerceTask.Models.Product>


<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@product.Image" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <h5 class="card-title">@product.Price</h5>
                <div style="display: flex; justify-content: space-between;">
                  
                </div>
            </div>
        </div>
    }
</div>

